<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Remove all handlers first -->
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <aspNetCore processPath="dotnet" 
                  arguments=".\JogoBolinha.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile="\\?\%home%\LogFiles\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
        </environmentVariables>
      </aspNetCore>
      
      <!-- Remove problematic modules -->
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="WebDAVModule" />
        <remove name="FormsAuthentication" />
      </modules>
      
      <!-- Allow all methods -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800" />
          <verbs>
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="HEAD" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
      
      <!-- Basic headers -->
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
      
      <!-- Detailed errors for troubleshooting -->
      <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
      
      <!-- Static content -->
      <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
    </system.webServer>
  </location>
  
  <!-- System.web for compatibility -->
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>